<!DOCTYPE html> 
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title> Edit My Tickets </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center" style="background-color: rgb(24, 77, 107); color:azure">
    <h1> Edit Tickets Information </h1>
  </div>

<div class="container">

  <form class="form-horizontal" th:action="@{/editTicket}" th:object="${tickets}" method="post">
  <input type="hidden" th:field="*{id}">
    <div class="form-group">
      <label class="control-label col-sm-2">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter Name" th:field="*{name}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Day :</label>
      <div class="col-sm-10">          
        <select  class="form-select" th:field="*{dayOfWeek}"> <option th:each="d : *{days}" th:text="${d}" th:value="${d}"></select> <br>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Price :</label>
      <div class="col-sm-10">
        <input type="number" step="0.01" class="form-control" placeholder="Enter Price" th:field="*{price}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Email :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter email" th:field="*{email}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"> Number Of People : </label>
      <div class="col-sm-10">
        <input type="text"  max="100" class="form-control" placeholder="Enter Number of People" th:field="*{nOfPeople}">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Edit My Ticket</button>
      </div>
    </div>
  </form>
</div>
<div class="jumbotron text-center" style="background-color: red; color:azure">
    <h3> <a href="/view"> View Tickets </a> </h3>
    <h3> <a href="/"> Home </a> </h3>
    <h3> <a href="/logout "> Sign Out </a> </h3>
  </div>

</body>
</html>
