<!DOCTYPE html> 
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title> Login </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center" style="background-color: rgb(24, 77, 107); color:azure">
    <h1> Please Login Here </h1>
  </div>
  
  <div class="container">
  <form class="form-horizontal" th:action=@{/login} method="post">
    <div class="form-group">
      <label class="control-label col-sm-2">Username:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter Name" name="username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Password:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter Name" name="password">
      </div>
    </div>
     <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Login</button>
      </div>
    </div>
  </form>
  <div class="jumbotron text-center" style="background-color: red; color:azure">
    <h3> <a href="/register"> New User ?? Register here </a> </h3>
  </div>
  </body>
</html>
  