<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title> Tickets Information </title>
</head>
<body>

<div class="jumbotron text-center" style="background-color: rgb(24, 77, 107); color:azure" >
    <h1> Tickets Information </h1>
</div>

<table class="table table-striped" sec:authorize="hasRole('VENDOR')">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Day</th>
      <th scope="col">Price</th>
      <th scope="col">Email</th>
      <th scope="col">Number of People coming </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each=" t : ${tickets}" >
      
      <td  scope="row" th:text="${t.id}" > a </td>
      <td th:text="${t.name}" > a </td>
      <td th:text="${t.dayOfWeek}" > a </td>
      <td th:text="${t.price}" > a </td>
      <td th:text="${t.email}" > a </td>
      <td th:text="${t.nOfPeople}" > a </td>
      <td> <a th:href="@{/edit/{id}(id=${t.id})}"> Edit </a> </td>
      <td> <a th:href="@{/delete/{id}(id=${t.id})}"> Delete </a> </td>
    </tr>

</tbody>
</table>


<table class="table table-striped" sec:authorize="hasRole('GUEST')">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Day</th>
      <th scope="col">Price</th>
      <th scope="col">Email</th>
      <th scope="col">Number of People coming </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each=" t : ${tickets}" >
      
      <td  scope="row" th:text="${t.id}" > a </td>
      <td th:text="${t.name}" > a </td>
      <td th:text="${t.dayOfWeek}" > a </td>
      <td th:text="${t.price}" > a </td>
      <td th:text="${t.email}" > a </td>
      <td th:text="${t.nOfPeople}" > a </td>
    </tr>

</tbody>
</table>
<div class="jumbotron" style="background-color: rgba(219, 19, 19, 0.851);" sec:authorize="hasRole('GUEST')">
  <div class="container" style="color: rgb(216, 223, 228)">
    <div class="row">
      <div class="col-sm-4">
        <h3 th:text=" ' Total without tax is '+ ${SubTotal} + ' . ' " style="background-color: Green;"> Hello </h3>
       </div>
      <div class="col-sm-4">
        <h3 th:text=" ' Toal tax is '+ ${Tax} + ' . ' "></h3>
      </div>
      <div class="col-sm-4">
        <h3 th:text=" 'Total with tax is '+ ${Total} + ' . ' " style="background-color: Green;">Enjoy</h3>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron text-center" style="background-color: red; color:azure" sec:authorize="hasRole('VENDOR')">
    <h3> <a th:href="@{/add}"> Book My Ticket </a> </h3>
    <h3> <a th:href="@{/stats}"> See The Statistics </a> </h3>
    <h3> <a href="/logout "> Sign Out </a> </h3>
  </div>
  
  <div class="jumbotron text-center" style="background-color: red; color:azure" sec:authorize="hasRole('GUEST')">
    <h3> <a th:href="@{/stats}"> See The Statistics </a> </h3>
    <h3> <a href="/logout "> Sign Out </a> </h3>
  </div>


 
</body>
</html>